/*-- scss:defaults --*/
$body-color: #000022 !default;
$link-color: #f51459;
$code-color: #000022;
$navbar-bg: #5195a3;
$navbar-fg: #ffffff;
$navbar-hl: #f51459;
$sidebar-fg: #000022;
$sidebar-hl: #f51459;
$toc-color: #f51459;
$toc-hl: #f51459;
